* {
	margin: 0px;
	padding: 0px;
	
}


#header {
	z-index: 1;
	height: 50px;
	width: 100%;
	padding-top: 1%;
	background-color: rgba(0,0,0,0.1);
	display: block;
	overflow: visible;
	position: fixed;
}

#heading {
	z-index: 1;
	height: 30px;
	width: 100px;
	margin: auto;
	text-align: center;
	font-family: Source Sans Pro;
	font-size: 30px;
	font-weight: bolder;
	color: black;
	opacity: 100%;
}


#icon {
    margin-top: 10%;
    height: 250px;
	width: 250px;
	display: block;
	border: 1px solid black;
	overflow: scroll;
	font-family: Chalkduster;
	text-align: center;
    position: static;
}

#icon img {
	height: 85%;
	width: 100%;
}

<!-- #wrapper {
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
    height:300px;
    -webkit-box-align:stretch;
} -->

