* {
	margin: 0px;
	padding: 0px;
	
}


#header {
	z-index: 1;
	height: 50px;
	width: 100%;
	padding-top: 1%;
	background-color: rgba(0,0,0,0.1);
	display: block;
	overflow: visible;
	position: fixed;
}

#heading {
	z-index: 1;
	height: 30px;
	width: 100px;
	margin: auto;
	text-align: center;
	font-family: Source Sans Pro;
	font-size: 30px;
	font-weight: bolder;
	color: black;
	opacity: 100%;
}

#first {
	margin-top: 10%;
	height: 250px;
	width: 250px;
	float: left;
	margin-left: 5px;
	display: inline;
	border: 1px solid black;
	overflow: hidden;
	position: fixed;
	font-family: Chalkduster;
	text-align: center;
}

#first img {
	height: 85%;
	width: 100%;
}

#second {
	margin-top: 10%;
	height: 250px;
	width: 250px;
	float: left;
	
	display: inline;
	border: 1px solid black;
	overflow: hidden;
	position: fixed;
	margin-left: 260px;
	font-family: Chalkduster;
	text-align: center;
}

#second img {
	height: 85%;
	width: 100%;
}

#third {
	margin-top: 10%;
	height: 250px;
	width: 250px;
	float: left;
	margin-left: 5px;
	display: inline;
	border: 1px solid black;
	overflow: hidden;
	position: fixed;
	margin-left: 515px;
	font-family: Chalkduster;
	text-align: center;
}

#third img {
	height: 85%;
	width: 100%;
}

#fourth {
	margin-top: 10%;
	height: 250px;
	width: 250px;
	float: left;
	margin-left: 775px;
	display: inline;
	border: 1px solid black;
	overflow: hidden;
	position: fixed;
	font-family: Chalkduster;
	text-align: center;
	
}

#fourth img {
	height: 85%;
	width: 100%;
}




