<!DOCTYPE HTML>
<HTML lang="en">
<head>
    <title>HackPrinceton</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css">

<h1>Insert Instructions</h1>

<p>Fill in the form to insert instructions for something you'd like to share!</p>
<div id = "enterInput">
<form method=post action="title">
  <fieldset>
    <table>
      <tr><td><label for="added_by" accesskey="n">Name</label></td><td><input type="text" name="added_by" id="added_by"></td></tr>
      <tr><td><label for="email" accesskey="b">Email</label></td><td><input type="text" name="email" id="email"></td></tr>
  <tr><td><label for="title" accesskey="i">Title</label></td><td><input type="text" name="title" id="title"></td></    tr>
    <tr>
        <td>0</td><td><input type='text' name='0text' id='' value=''></td><td><input type="file" name="img" enctype="multipart/form-data"></td>
    </tr>

    <tr>
        <td>1</td><td><input type='text' name='1text' id='' value=''></td><td><input type="file" name="img" enctype="multipart/form-data" ></td>
    </tr>

    <tr>
        <td>2</td><td><input type='text' name='2text' id='' value=''></td><td><input type="file" name="img" enctype="multipart/form-data" ></td>
    </tr>

    <tr>
        <td>3</td><td><input type='text' name='3text' id='' value=''></td><td><input type="file" name="img" enctype="multipart/form-data" ></td>
    </tr>

    <tr>
        <td>4</td><td><input type='text' name='4text' id='' value=''></td><td><input type="file" name="img" enctype="multipart/form-data" ></td>
    </tr>
    </table>
  </fieldset>    

  <p>
  <input type='reset' value='Reset'>
  <input type='submit' method=get value='Pass' onClick = "window.location='title';" />
  <input type='submit' name='submit' value='Submit'>
</form>
</div>
<body>
</html>

