<!Doctype html>
<html>
	<head >
		<script type="text/javascript" src="static/jquery-2.1.0.min.js"></script>
    	<script type="text/javascript" src="static/input.js"></script>
		<link rel="stylesheet" type="text/css" href="static/input.css"/>
		<title>SUBMIT RECIPE!</title>
	
	</head>
	<body>
		<span>
		<form id="recipe" method=post action='title'> <br/><br/>
			<p>Full Name:</p> <input type="text" name="fullname" id="field"><br/>
			<p>Email:</p> <input type="text" name="email" id="field"><br/>
			<p>Title:</p> <input type="text" name ="title" id="field">
			<br/>
			<br/>
			<button id="add">
				ADD INSTRUCTIONS
			</button><br/>
        
            <input type='submit' name='submit' value="SUBMIT">
		</form><br/>
		</span>
	</body>
</html>

