<!Doctype html>
<html>
    <head>
        <script type="text/javascript" src="static/jquery-2.1.0.min.js"></script>
		<link type="text/css" rel="stylesheet" href="static/main.css">
       
        <title>
			RECIPES
		</title>
    </head>
	<body>
		<div id="header">
			<div id="heading">
				RECIPES
			</div>
        </div>
        <div id="wrapper">
        
        </div>
    </body>
    <script type="text/javascript">
        $(document).ready(function(e) {
        {% for item in data %}
        icon = '<div id="icon"><a href="instructions/{{ item['instr_id'] }}"> <img src="http://1.bp.blogspot.com/-ZSobqEWnqko/TvjBTZPbxXI/AAAAAAAAAKM/LRBgHCDfybw/s1600/gulab+jamun1.jpg"/>'
        icon += '<p> {{ item["title"] }} </p> </a> </div> '
       // var newInput = document.createElement("input");
       // newInput.type="submit";
       // newInput.name="{{ item['instr_id'] }}" ;
       // newInput.value=" {{ item['title'] }} ";
       // document.getElementById('insert').appendChild(newInput);
      //  <input type="submit" name= {{ item['instr_id'] }} value={{ item['title'] }} > <br>
        $('#wrapper').append(icon);  
        {% endfor %}

        });
        
    </script>    

</html>
